:root {
  font-family: Garamond;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  /* color: rgba(255, 255, 255, 0.841) !important;
  background-color: rgb(24, 22, 22) !important; */
}

h1 {
  font-size: 50px;
  line-height: 1;
  margin-top: 20px;
  margin-right: 20px;
}

.main-header {
  width: 100%;
  text-align: center;
}

#root {
  width: 100vw;
}