:root {
  font-family: Garamond !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  /* font-family: -apple-system-ui-serif, ui-serif, "Spectral", "Georgia", serif; */
  font-family: Roboto;
  /* color: rgba(255, 255, 255, 0.841) !important;
  background-color: rgb(24, 22, 22) !important; */
}

table {
  /* color: rgba(255, 255, 255, 0.841) !important;
  background-color: rgb(24, 22, 22) !important; */
  box-shadow: 0 0 2px 2px rgb(205, 201, 201);
}

h1 {
  font-size: 50px;
  line-height: 1;
  margin-top: 20px;
  margin-right: 20px;
}

.main-header {
  width: 100%;
  text-align: center;
}

#root {
  width: 100vw;
}

.title-cell {
  padding-left: 10px !important;
}

.title-cell .flex-container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.table-body-row> td {
  vertical-align: middle;
  height: 90px;
}

.table-body-row {
  height: 90px;
}